*{
  box-sizing: border-box;
}
.chat {
  float: left;
  width: calc(100% - 300px);
  .header {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    width:100%;
    position: relative;
    .left-header {
      height:70px;
      width:calc(100% - 72px);
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
    }
    .right-header {
      width:72px;
      height: 70px;      
      float: right;      
      padding: 0 20px;
      .edit{       
        width:72px;
        height: 40px;
        border: 1px solid $light_blue;
        color: $light_blue;
        margin-top: 28px;
        line-height: 40px;
        text-align: center;
        &__button {
          color: $light_blue;
          text-decoration: none;
        }
      }
    }
    .member-box{
      position: absolute;
      bottom: 0;
      width:100%;
      color: $light_gray;
      font-size: 12px;
      word-break: break-all;
      height:30px;
      &__name.clearfix{
        display: inline-block;
        padding-top:8px;
        padding-right: 5px;
      }
    }
  }

  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 190px);
    overflow-y: scroll;
    overflow-x: scroll;
    .message {
      width:282px;
      .upper-message {
        display: flex;
        &__user-name {
          width:30px;
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          width: 133px;
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
        &__image{
          
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    height: 90px;
    padding: 20px 40px;
    .new_message{
      display: flex;
      .text_box{
        position: relative;
        width: 100%;
        &__message {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        &__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .icon{

          }
          .hidden{
            display: none;
          }
        }
      } 
    }  
    &__submit {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}