.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

$white: #FFFFFF;
$side_blue_dark: #253141;
$side_header_font: 16px;
$side_blue_light: #2f3e51;
$side_group_name: 15px;
$side_group_message: 11px;
$light_gray: #999999;
$light_blue:#38AEF0 ;
$black: #434A54;
